
@{
    ViewData["Title"] = "CardSong";
}

<div id="singC" class="sing" style="margin-left: 15%; width: 80%;">
    <img class="img-sing" style="margin-left: 5%;float:left;height:180px;margin-top: 40px;" src="~/img/2.png" id="123">
    <table id="singC2" style="margin-left: 30px; width: 50%;float:left; margin-bottom:30px;margin-top: 40px;">
       
        <tr>
            <td>Название</td>
            <td class="nameS">Название песни</td>
        </tr>
        <tr>
            <td>Исполнитель</td>
            <td class="singerS">Исполнитель песни</td>
        </tr>
        <tr>
            <td>Язык</td>
            <td class="languageS">Английский</td>
        </tr>
        <tr>
            <td>Год</td>
            <td class="yearS">2022</td>
        </tr>
        <tr>
            <td>Жанр</td>
            <td class="genreS">Рок</td>
        </tr>
        <tr>
            <td style="width: 30%;">Кол-во прослушиваний</td>
            <td class="quantityS">1124</td>
        </tr>
        
    </table>
    <ul id="songLine">
        <li>
            <input type="image" src="~/img/start.png" style=" border-radius: 60px;float:left;height:80px;width:80px;margin-top: 10px;margin-left: 10px;">
            <h5 class="nameS" id="11111123" style=" float:left; margin-left: 20px;margin-top: 35px;width:30%;">
                Название песни
            </h5>
            <input type="image" src="~/img/download.png" style=" border-radius: 60px;margin-right: 20px;float:right;height:80px;width:80px;margin-top: 10px;">
            <h5 class="lengthS" id="11111123" style=" float:right;margin-right: 20px;margin-top: 35px;width:10%;">2:34</h5>
        </li>
    </ul>
</div>

