@{
    ViewBag.Title = "Index";
}

<div style="margin-top: 120px;">
    <h2 style="margin-left: 20%;margin-bottom: 30px;">Популярные песни</h2>
    <ul id="list">
        @foreach (var a in ViewBag.ArraySD)
        {
        <li id="song" class="song">
            <a asp-area="" asp-controller="Home" asp-action="CardSong">
                <img class="img-sing" src="~/img/@a.Img" id="123">
                <h5 class="name-sing" id="11111123">@a.Name</h5>
                <h4 class="quantity-sing" id="11111123">@a.Singer</h4>
            </a>
        </li>
        }
    </ul>
    

    

</div>
