@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 120px;">
    <h2 style="margin-left: 20%;margin-bottom: 30px;">Популярные песни</h2>
    <ul id="list">
        <li id="sing" class="sing">
            <a asp-area="" asp-controller="Home" asp-action="CardSong">
                <img class="img-sing" src="~/img/2.png" id="123">
                <h5 class="name-sing" id="11111123">Название песни</h5>
                <h4 class="quantity-sing" id="11111123">2:34</h4>
            </a>
        </li>
        <li id="sing" class="sing">
            <a asp-area="" asp-controller="Home" asp-action="CardSong">
            <img class="img-sing" src="~/img/2.png" id="123">
            <h5 class="name-sing" id="11111123">Название песни</h5>
            <h4 class="quantity-sing" id="11111123">2:34</h4>
        </a>
        </li>
       
    </ul>

    

</div>
