
@{
    ViewBag.Title = "Search";
}
<div id="text-center">
    <div id="container" style="display: grid;">
        @{int number= ViewBag.ArraySD.Count;
        <h5 style="margin-left: 20%;white-space:nowrap;font-style:italic;">Обнаружено @number результатов по запросу "@ViewBag.Word"</h5>
        }
    </div>
<ul id="list" style="margin-top: 40px;">
        @foreach (var a in ViewBag.ArraySD)
        {
            <li id="song" class="song">
                <a asp-area="" asp-controller="Home" asp-action="CardSong">
                    <img class="img-sing" src="~/img/@a.Img" id="123">
                    <h5 class="name-sing" id="11111123">@a.Name</h5>
                    <h4 class="quantity-sing" id="11111123">@a.Singer</h4>
                </a>
            </li>
        }
    

</ul>
</div>

